.scroll-container {
    display: flex;
    gap: 30px;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
      scrollbar-width: none;
      scroll-behavior: smooth;
      margin-top: 32px;
}

.personal_tittle{
    font-size: 32px;
    
}



.personal_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 72px;
}

.buttons_block{
    display: flex;
    align-items: center;
    gap: 32px;
}

.personal_btn{
    background-color: inherit;
    border: none;
    width: 24px;
    cursor: pointer;
}

.element::-webkit-scrollbar { width: 0; }

@media (max-width: 374px) {
   
    .buttons_block{
        display: none;
    }
  }


