.left_section{
    gap: 32px;
}



.left_section h2{
    font-size: 32px;
}

.tel_container{
    width: 80%;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F5F5F5;
    border-radius: 8px;
    text-align: center;
    font-size: 24px;
}
@media (max-width: 767px) {
    .left_section {
      padding-left: 39px;
      padding-right: 39px;
    }

    .tel_container{
        width: 100%;
    }
}

@media (max-width: 374px) {
    .left_section {
      padding-left: 16px;
      padding-right: 16px;
    }

    .tel_container{
        width: 90%;
        margin: 0 auto;
    }
}